
.photo-container {
  margin-top: 40px;
}

.frame-container {
  position: relative;
  width: 350px;
  max-width: 80vw;
  margin: 0 auto;
}

.frame-image {
  width: 100%;
  display: block;
}

.photo-slot {
  position: absolute;
  width: 80%;
  left: 10%;
  overflow: hidden;
}

.photo-slot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-slot-0 {
  top: 5%;
  height: 20%;
}

.photo-slot-1 {
  top: 26.5%;
  height: 20%;
}

.photo-slot-2 {
  top: 48%;
  height: 20%;
}

.photo-slot-3 {
  top: 70%;
  height: 20%;
}